{% extends "main.html" %}
{%block content%}


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'user-profile' recepient.id %}"><i class="im im-angle-left"></i></a>
            <br>

            <form class="form" method="POST">
                {% csrf_token %}
                {% if not request.user.is_authenticated %}
                <h1>You must log in first to send a message.</h1>
            {% else %}
                <form class="form" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form__field">
                            <label for="formInput#text">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                   
            {% endif %}
            

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>











{%endblock%}